*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    height: 80px;
    width: 80px;
}



body {
    font-family: Arial, sans-serif;
    background-color: #1c202b;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
}

.search-container {
    margin-top: 300px; /* Adjust this value to leave space for the fixed header */
    position: relative;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}